site_name: DL Notes
theme:
  name: material
nav:
  - Home: index.md
  - Hardware: hardware.md
  - Tensor Operation: tensor.md
  - Neural Graphics: neural-graphics.md
  - LLMs:
      - Preliminary: llms/preliminary.md
      - Models: llms/models.md
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
extra_css:
  - stylesheets/bootstrap.min.css
  - stylesheets/basic.css
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
